* {
    transition: all 1s ease-in-out;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
    margin: auto;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

.container {
    width: fit-content;
}

#game-over {
    position: absolute;
    top: 230px;
    font-size: 30px;
    color: red;
    display: none;
    width: 100%;
}

#start {
    position: absolute;
    top: 230px;
    font-size: 30px;
    width: 100%;
}